<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TemperatureActuator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TemperatureLogging.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TemperatureActuator.My.MySettings.Database" connectionString="Data Source=WS-GLEN-M4600\SQLEXPRESS;Initial Catalog=HomeAutomationData;Integrated Security=True;Connect Timeout=30;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <TemperatureActuator.My.MySettings>
            <setting name="TemperatureTable" serializeAs="String">
                <value>Temperature</value>
            </setting>
            <setting name="DeviceTable" serializeAs="String">
                <value>Locations</value>
            </setting>
            <setting name="MasterTimesTable" serializeAs="String">
                <value>MasterTimes</value>
            </setting>
        </TemperatureActuator.My.MySettings>
        <TemperatureLogging.My.MySettings>
            <setting name="TemperatureTable" serializeAs="String">
                <value>Temperature</value>
            </setting>
            <setting name="DeviceTable" serializeAs="String">
                <value>Locations</value>
            </setting>
            <setting name="MasterTimesTable" serializeAs="String">
                <value>MasterTimes</value>
            </setting>
        </TemperatureLogging.My.MySettings>
    </applicationSettings>
</configuration>
